# MANOJ KUMAR - 2048015

### Data Read

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
kidney_disease = pd.read_csv("kidney_disease.csv")
kidney_disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [3]:
kidney_disease.head(12).T

,0,1,2,3,4,5,6,7,8,9,10,11
id,0,1,2,3,4,5,6,7,8,9,10,11
age,48,7,62,48,51,60,68,24,52,53,50,63
bp,80,50,80,70,80,90,70,NaN,100,90,60,70
sg,1.02,1.02,1.01,1.005,1.01,1.015,1.01,1.015,1.015,1.02,1.01,1.01
al,1,4,2,4,2,3,0,2,3,2,2,3
su,0,0,3,0,0,0,0,4,0,0,4,0
rbc,NaN,NaN,normal,normal,normal,NaN,NaN,normal,normal,abnormal,NaN,abnormal
pc,normal,normal,normal,abnormal,normal,NaN,normal,abnormal,abnormal,abnormal,abnormal,abnormal
pcc,notpresent,notpresent,notpresent,present,notpresent,notpresent,notpresent,notpresent,present,present,present,present
ba,notpresent,notpresent,notpresent,notpresent,notpresent,notpresent,notpresent,notpresent,notpresent,notpresent,notpresent,notpresent
bgr,121,NaN,423,117,106,74,100,410,138,70,490,380
bu,36,18,53,56,26,25,54,31,60,107,55,60
sc,1.2,0.8,1.8,3.8,1.4,1.1,24,1.1,1.9,7.2,4,2.7
sod,NaN,NaN,NaN,111,NaN,142,104,NaN,NaN,114,NaN,131
pot,NaN,NaN,NaN,2.5,NaN,3.2,4,NaN,NaN,3.7,NaN,4.2
hemo,15.4,11.3,9.6,11.2,11.6,12.2,12.4,12.4,10.8,9.5,9.4,10.8
pcv,44,38,31,32,35,39,36,44,33,29,28,32
wc,7800,6000,7500,6700,7300,7800,NaN,6900,9600,12100,NaN,4500
rc,5.2,NaN,NaN,3.9,4.6,4.4,NaN,5,4.0,3.7,NaN,3.8
htn,yes,no,no,yes,no,yes,no,no,yes,yes,yes,yes
dm,yes,no,yes,no,no,yes,no,yes,yes,yes,yes,yes
cad,no,no,no,no,no,no,no,no,no,no,no,no
appet,good,good,poor,poor,good,good,good,good,good,poor,good,poor
pe,no,no,no,yes,no,yes,no,yes,no,no,no,yes
ane,no,no,yes,yes,no,no,no,no,yes,yes,yes,no
classification,ckd,ckd,ckd,ckd,ckd,ckd,ckd,ckd,ckd,ckd,ckd,ckd

In [4]:
# '?' character remove process in the dataset

for i in ['rc','wc','pcv']:
    kidney_disease[i] = kidney_disease[i].str.extract('(\d+)').astype(float)

In [5]:
# Filling missing numeric data in the dataset with mean

for i in ['age','bp','sg','al','su','bgr','bu','sc','sod','pot','hemo','rc','wc','pcv']:
    kidney_disease[i].fillna(kidney_disease[i].mean(),inplace=True)

In [6]:
# Removing tab spaces in the data

kidney_disease['dm'] = kidney_disease['dm'].replace(to_replace={'\tno':'no','\tyes':'yes',' yes':'yes'}) 
kidney_disease['cad'] = kidney_disease['cad'].replace(to_replace='\tno',value='no') 
kidney_disease['classification'] = kidney_disease['classification'].replace(to_replace='ckd\t',value='ckd')

In [7]:
# Mapping the text to 1/0 and cleaning the dataset 

kidney_disease[['htn','dm','cad','pe','ane']] = kidney_disease[['htn','dm','cad','pe','ane']].replace(to_replace={'yes':1,'no':0})
kidney_disease[['rbc','pc']] = kidney_disease[['rbc','pc']].replace(to_replace={'abnormal':1,'normal':0})
kidney_disease[['pcc','ba']] = kidney_disease[['pcc','ba']].replace(to_replace={'present':1,'notpresent':0})
kidney_disease[['appet']] = kidney_disease[['appet']].replace(to_replace={'good':1,'poor':0})
kidney_disease['classification'] = kidney_disease['classification'].replace(to_replace={'ckd':1,'notckd':0})

kidney_disease.rename(columns={'classification':'class'},inplace=True)

In [8]:
kidney_disease.drop('id',axis=1,inplace=True)
kidney_disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     400 non-null    float64
 1   bp      400 non-null    float64
 2   sg      400 non-null    float64
 3   al      400 non-null    float64
 4   su      400 non-null    float64
 5   rbc     248 non-null    float64
 6   pc      335 non-null    float64
 7   pcc     396 non-null    float64
 8   ba      396 non-null    float64
 9   bgr     400 non-null    float64
 10  bu      400 non-null    float64
 11  sc      400 non-null    float64
 12  sod     400 non-null    float64
 13  pot     400 non-null    float64
 14  hemo    400 non-null    float64
 15  pcv     400 non-null    float64
 16  wc      400 non-null    float64
 17  rc      400 non-null    float64
 18  htn     398 non-null    float64
 19  dm      398 non-null    float64
 20  cad     398 non-null    float64
 21  appet   399 non-null    float64
 22  pe      399 non-null    float64
 23  ane     399 non-null    float64
 24  class   400 non-null    int64
dtypes: float64(24), int64(1)
memory usage: 78.2 KB

In [9]:
# Filling the missing string data as the most repetitive (mod)

kidney_disease=kidney_disease.apply(lambda x:x.fillna(x.value_counts().index[0]))

In [10]:
features = kidney_disease.keys()
kidney_disease.head(12).T

,0,1,2,3,4,5,6,7,8,9,10,11
age,48.000000,7.000000,62.000000,48.000,51.000000,60.000,68.000000,24.000000,52.000000,53.00,50.000000,63.00
bp,80.000000,50.000000,80.000000,70.000,80.000000,90.000,70.000000,76.469072,100.000000,90.00,60.000000,70.00
sg,1.020000,1.020000,1.010000,1.005,1.010000,1.015,1.010000,1.015000,1.015000,1.02,1.010000,1.01
al,1.000000,4.000000,2.000000,4.000,2.000000,3.000,0.000000,2.000000,3.000000,2.00,2.000000,3.00
su,0.000000,0.000000,3.000000,0.000,0.000000,0.000,0.000000,4.000000,0.000000,0.00,4.000000,0.00
rbc,0.000000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000,0.000000,1.00,0.000000,1.00
pc,0.000000,0.000000,0.000000,1.000,0.000000,0.000,0.000000,1.000000,1.000000,1.00,1.000000,1.00
pcc,0.000000,0.000000,0.000000,1.000,0.000000,0.000,0.000000,0.000000,1.000000,1.00,1.000000,1.00
ba,0.000000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.00
bgr,121.000000,148.036517,423.000000,117.000,106.000000,74.000,100.000000,410.000000,138.000000,70.00,490.000000,380.00
bu,36.000000,18.000000,53.000000,56.000,26.000000,25.000,54.000000,31.000000,60.000000,107.00,55.000000,60.00
sc,1.200000,0.800000,1.800000,3.800,1.400000,1.100,24.000000,1.100000,1.900000,7.20,4.000000,2.70
sod,137.528754,137.528754,137.528754,111.000,137.528754,142.000,104.000000,137.528754,137.528754,114.00,137.528754,131.00
pot,4.627244,4.627244,4.627244,2.500,4.627244,3.200,4.000000,4.627244,4.627244,3.70,4.627244,4.20
hemo,15.400000,11.300000,9.600000,11.200,11.600000,12.200,12.400000,12.400000,10.800000,9.50,9.400000,10.80
pcv,44.000000,38.000000,31.000000,32.000,35.000000,39.000,36.000000,44.000000,33.000000,29.00,28.000000,32.00
wc,7800.000000,6000.000000,7500.000000,6700.000,7300.000000,7800.000,8406.122449,6900.000000,9600.000000,12100.00,8406.122449,4500.00
rc,5.000000,4.241636,4.241636,3.000,4.000000,4.000,4.241636,5.000000,4.000000,3.00,4.241636,3.00
htn,1.000000,0.000000,0.000000,1.000,0.000000,1.000,0.000000,0.000000,1.000000,1.00,1.000000,1.00
dm,1.000000,0.000000,1.000000,0.000,0.000000,1.000,0.000000,1.000000,1.000000,1.00,1.000000,1.00
cad,0.000000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.00
appet,1.000000,1.000000,0.000000,0.000,1.000000,1.000,1.000000,1.000000,1.000000,0.00,1.000000,0.00
pe,0.000000,0.000000,0.000000,1.000,0.000000,1.000,0.000000,1.000000,0.000000,0.00,0.000000,1.00
ane,0.000000,0.000000,1.000000,1.000,0.000000,0.000,0.000000,0.000000,1.000000,1.00,1.000000,0.00
class,1.000000,1.000000,1.000000,1.000,1.000000,1.000,1.000000,1.000000,1.000000,1.00,1.000000,1.00

In [11]:
dataset = kidney_disease

##  Linear Discriminant Analysis - LDA

In [12]:
# distributing the dataset into two components X and Y 
X = dataset.iloc[:, 0:23].values 
y = dataset.iloc[:, 24].values 

# Splitting the X and Y into the Training set and Testing set 
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [13]:
# performing preprocessing part 
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler() 

X_train = sc.fit_transform(X_train) 
X_test = sc.transform(X_test)

In [14]:
#5. Apply LDA function on training and testing set of X component 

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components = 1)

X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)

### Logistic Regression

In [15]:
# Fitting Logistic Regression To the training set 
from sklearn.linear_model import LogisticRegression 

Logistic_Regression = LogisticRegression(random_state = 0) 
Logistic_Regression.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [16]:
# Predicting the test set result using predict function under LogisticRegression 
Log_pred = Logistic_Regression.predict(X_test) 

# making confusion matrix between test set of Y and predicted value. 
from sklearn.metrics import confusion_matrix 

LogisticRegression_confusion_matrix = confusion_matrix(y_test, Log_pred) 
LogisticRegression_confusion_matrix

array([[27,  1],
       [ 1, 51]])

In [17]:
from sklearn import metrics
from sklearn.metrics import r2_score,mean_squared_error

print("MAE: ",metrics.mean_absolute_error(y_test, Log_pred))
print("MSE: ",metrics.mean_squared_error(y_test,Log_pred))
print("RMSE: ",np.sqrt(metrics.mean_squared_error(y_test,Log_pred)))

MAE:  0.025
MSE:  0.025
RMSE:  0.15811388300841897

In [18]:
LogisticRegression_score= Logistic_Regression.score(X_test, y_test)
LogisticRegression_score

0.975

### Decision Tree Regression Model

In [19]:
# Fitting the DecisionTreeRegressor model to the dataset
from sklearn.tree import DecisionTreeRegressor

DecisionTree_Regressor = DecisionTreeRegressor(random_state = 0)
DecisionTree_Regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [20]:
# Predicting a new result with the Decision Tree Regression
DT_pred = DecisionTree_Regressor.predict(X_test)

print("MAE: ",metrics.mean_absolute_error(y_test, DT_pred))
print("MSE: ",metrics.mean_squared_error(y_test, DT_pred))
print("RMSE: ",np.sqrt(metrics.mean_squared_error(y_test, DT_pred)))

MAE:  0.025
MSE:  0.025
RMSE:  0.15811388300841897

In [21]:
DecisionTree_confusion_matrix = confusion_matrix(y_test, DT_pred) 
DecisionTree_confusion_matrix

array([[27,  1],
       [ 1, 51]])

In [22]:
DecisionTree_score = DecisionTree_Regressor.score(X_test, y_test)
DecisionTree_score

0.8901098901098901

### Random Forest Regression

In [23]:
# Fitting the RandomForestRegressor model to the dataset
from sklearn.ensemble import RandomForestRegressor

RandomForest_Regressor = RandomForestRegressor(random_state = 0)
RandomForest_Regressor.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [24]:
# Predicting a new result with the RandomForestRegressor
RF_pred = RandomForest_Regressor.predict(X_test)

print("MAE: ",metrics.mean_absolute_error(y_test, RF_pred))
print("MSE: ",metrics.mean_squared_error(y_test, RF_pred))
print("RMSE: ",np.sqrt(metrics.mean_squared_error(y_test, RF_pred)))

MAE:  0.026000000000000002
MSE:  0.0248525
RMSE:  0.15764675702341613

In [25]:
RandomForest_score = RandomForest_Regressor.score(X_test, y_test)
RandomForest_score

0.8907582417582418

### Multiple Linear Regression

In [26]:
from sklearn.linear_model import LinearRegression

Multilinear_model=LinearRegression()
Multilinear_model.fit(X_train,y_train)

LinearRegression()

In [27]:
# Predicting a new result with the LinearRegression
ML_pred = Multilinear_model.predict(X_test)

print("MAE: ",metrics.mean_absolute_error(y_test, ML_pred))
print("MSE: ",metrics.mean_squared_error(y_test, ML_pred))
print("RMSE: ",np.sqrt(metrics.mean_squared_error(y_test, ML_pred)))

MAE:  0.20673043362176569
MSE:  0.06551081910607252
RMSE:  0.2559508138413952

In [28]:
Multilinear_score = Multilinear_model.score(X_test, y_test)
Multilinear_score

0.7120403555777032

### Support Vector Regression

In [40]:
from sklearn.svm import SVR

SupportVectorRegression = SVR()
SupportVectorRegression.fit(X_train, y_train)

SVR()

In [41]:
SVR_pred = SupportVectorRegression.predict(X_test)

print("MAE: ",metrics.mean_absolute_error(y_test, SVR_pred))
print("MSE: ",metrics.mean_squared_error(y_test, SVR_pred))
print("RMSE: ",np.sqrt(metrics.mean_squared_error(y_test, SVR_pred)))

MAE:  0.08563934902129214
MSE:  0.016947244980550606
RMSE:  0.13018158464449034

In [42]:
SupportVector_score= SupportVectorRegression.score(X_test, y_test)
SupportVector_score

0.9255066154701073

#### LDA - Accuracy over different Regression model

In [45]:
print("Logistic Regression        \t: ", round(LogisticRegression_score, 3))
print("RMSE \t\t\t\t: ", round(np.sqrt(metrics.mean_squared_error(y_test, Log_pred)), 3))
print("\nDecision Tree Regression \t: ", round(DecisionTree_score, 3))
print("RMSE \t\t\t\t: ", round(np.sqrt(metrics.mean_squared_error(y_test, DT_pred)), 3))
print("\nRandom Forest Regression \t: ", round(RandomForest_score, 3))
print("RMSE \t\t\t\t: ", round(np.sqrt(metrics.mean_squared_error(y_test, RF_pred)), 3))
print("\nMultiple Linear Regression\t: ", round(Multilinear_score, 3))
print("RMSE \t\t\t\t: ", round(np.sqrt(metrics.mean_squared_error(y_test, ML_pred)), 3))
print("\nSupport Vector Regression\t: ", round(SupportVector_score, 3))
print("RMSE \t\t\t\t: ", round(np.sqrt(metrics.mean_squared_error(y_test, SVR_pred)), 3))

Logistic Regression        	:  0.975
RMSE 				:  0.158

Decision Tree Regression 	:  0.89
RMSE 				:  0.158

Random Forest Regression 	:  0.891
RMSE 				:  0.158

Multiple Linear Regression	:  0.712
RMSE 				:  0.256

Support Vector Regression	:  0.926
RMSE 				:  0.13